//@wix
.DS_Store
Thumbs.db
*.log
*.iml
*.ipr
*.iws
.idea
.svn
target/
.idea/
tags
History.md
chromedriver.log
index.debug.json
index.json
dev/iconmaker/node_modules
//@wix
node_modules
.bender/*
bender-*.logdev/builder/ckbuilder
dev/builder/release
